body {
  margin: 0;
}
.order-page {
  font-family: Khola;
}

.order-page .header {
  background: #2989d8;
  border-bottom: 22px solid #a4c3fd;
  font-size: 2rem;
  color: #FFFFFF;
}

.order-page h1 {
  font-size: 1.75rem;
}

